esb/service-sfcoke-sap/target/classes/service-sfcoke-sap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="Oracle_Configuration" host="golodaclu001.rebic.com.br" port="1521" instance="odaprd" user="sfcoke_2" password="sfcoke2" doc:name="Oracle Configuration"/>
    <flow name="service-sfcoke-sapFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getdatasales/data/{data}/centro/{centro}" allowedMethods="GET" doc:name="HTTP"/>
        <db:select config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT I.CDPROD AS PRODUTO,SUM(I.QTDNEG)  AS QTDE 
FROM TAFCAB C,TAFITE I,DW_TAFCLI K 
WHERE  C.NUPED = I.NUPED 
AND C.IDIAE <> 'E' 
AND C.IDENIM = 0 
AND K.CDCL = C.CDCL 
AND TO_CHAR(C.DTFATU,'YYYYMMDD') = #[message.inboundProperties.'http.uri.params'.data]
AND C.CDCFO IN (SELECT DISTINCT DCD.DCD_QTD_DIAS AS OP_FISCAL FROM DW_CONF_DIAS DCD WHERE DCD.DCD_DESC = 'OP. FISCAL CORTE') 
AND K.REBICMARLOC IN (SELECT U.CD_REBICMARLOC FROM SFCOKE_2.CDUNID_ESTOQUE U WHERE U.CD_CDUNOR = 	#[message.inboundProperties.'http.uri.params'.centro])
GROUP BY I.CDPROD]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
